In [1]:
# imports
import pandas as pd
import pymysql
import matplotlib.pyplot as plt
import seaborn as sns
from tqdm.notebook import tqdm_notebook
import glob
import json, os, time, math
import tmdbsimple as tmdb
import numpy as np
import seaborn as sns
import scipy.stats as stats
import matplotlib.pyplot as plt
import sqlalchemy
from sqlalchemy import create_engine

In [2]:
with open('/Users/Admin/.secret/sql_password.json') as f:
    login = json.load(f)
login.keys()

dict_keys(['username', 'password'])

In [3]:
username = login['username']
password = login['password']
db_name = 'movie'
connection = f'mysql+pymysql://{username}:{password}@localhost/{db_name}'
engine = create_engine(connection)
conn = engine.connect()

In [4]:
with open('/Users/Admin/.secret/tmdb_api.json', 'r') as f:
    login = json.load(f)
## Display the keys of the loaded dict
login.keys()

dict_keys(['API Key'])

In [5]:
tmdb.API_KEY = login['API Key']

In [6]:
def get_movie_with_rating(movie_id):
    # get the movie object for the current id
    movie = tmdb.Movies(movie_id)
    
    # save the .info .releases dictionaries
    info = movie.info()
    
    releases = movie.releases()
    # loop through countries in releases
    for c in releases['countries']:
        # if the country abbreviation == US
        if c['iso_3166_1'] == 'US':
            # save a 'certification' key in info with the certification
            info['certification'] = c['certification']
    return info

In [7]:
def write_json(new_data, filename): 

    with open(filename,'r+') as file:
        # First we load existing data into a dict.
        file_data = json.load(file)
        ## Choose extend or append
        if (type(new_data) == list) & (type(file_data) == list):
            file_data.extend(new_data)
        else:
             file_data.append(new_data)
        # Sets file's current position at offset.
        file.seek(0)
        # convert back to json.
        json.dump(file_data, file)

In [8]:
FOLDER = "MovieData/"
os.makedirs(FOLDER, exist_ok=True)
os.listdir(FOLDER)

['.ipynb_checkpoints',
 'final_tmdb_data_[2001].csv.gz',
 'final_tmdb_data_[2002].csv.gz',
 'ratings.csv',
 'title-basics.csv',
 'tmdb_api_results_2009.json',
 'tmdb_api_results_2010.json',
 'tmdb_api_results_2011.json',
 'tmdb_api_results_2012.json',
 'tmdb_api_results_2013.json',
 'tmdb_api_results_2014.json',
 'tmdb_api_results_2015.json',
 'tmdb_api_results_2016.json',
 'tmdb_api_results_2017.json',
 'tmdb_api_results_2018.json',
 'tmdb_api_results_2019.json',
 'tmdb_api_results_[2001].json',
 'tmdb_api_results_[2002].json',
 'tmdb_results_combined.csv.gz']

In [9]:
basics = pd.read_csv('Data/basics.csv')
basics.head()

,Unnamed: 0,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,34802,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance"
1,61114,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama
2,67666,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama
3,86793,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,NaN,100,"Comedy,Horror,Sci-Fi"
4,93930,tt0096056,movie,Crime and Punishment,Crime and Punishment,0,2002.0,NaN,126,Drama

In [10]:
YEARS_TO_GET = [2009,2010,2011]
errors = [ ]

# OUTER loop
for YEAR in tqdm_notebook(YEARS_TO_GET, desc='YEARS', position=0):
    #Defining the JSON file to store results for year
    JSON_FILE = f'{FOLDER}tmdb_api_results_{YEAR}.json'
    file_exists = os.path.isfile(JSON_FILE)
    
    if file_exists == False:
        print(f"Creating {JSON_FILE} for API results for {YEAR}.")
    # save an empty dict with just "imdb_id" to the new json file.
        with open(JSON_FILE,'w') as f:
            json.dump([{'imdb_id':0}],f)
    
    df = basics.loc[ basics['startYear'] == YEAR].copy()
    movie_ids = df['tconst'].copy()
    movie_ids
    # Load existing data from json into a dataframe called "previous_df"
    previous_df = pd.read_json(JSON_FILE)
    previous_df
    
    # filter out any ids that are already in the JSON_FILE
    movie_ids_to_get = movie_ids[~movie_ids.isin(previous_df['imdb_id'])]
    for movie_id in tqdm_notebook(movie_ids_to_get, f"Movies from {YEAR}", position = 1, leave=True):
        try:
    # Retrieve then data for the movie id
            temp = get_movie_with_rating(movie_id)  
    # Append/extend results to existing file using a pre-made function
            write_json(temp,JSON_FILE)
    # Short 20 ms sleep to prevent overwhelming server
            time.sleep(0.02)
        
        except Exception as e:
            errors.append([YEARS_TO_GET, e])
            continue
        
    final_year_df = pd.read_json(JSON_FILE)
    final_year_df.to_csv(f"{FOLDER}tmdb_results_combined_{YEAR}.csv.gz", compression="gzip", index=False)

In [11]:
import glob
# Use glob to get all filepaths that match the pattern (*=wildcard)
tmdb_calls = sorted(glob.glob("MovieData/tmdb_api_results*.json"))
tmdb_calls

['MovieData\\tmdb_api_results_2009.json',
 'MovieData\\tmdb_api_results_2010.json',
 'MovieData\\tmdb_api_results_2011.json',
 'MovieData\\tmdb_api_results_2012.json',
 'MovieData\\tmdb_api_results_2013.json',
 'MovieData\\tmdb_api_results_2014.json',
 'MovieData\\tmdb_api_results_2015.json',
 'MovieData\\tmdb_api_results_2016.json',
 'MovieData\\tmdb_api_results_2017.json',
 'MovieData\\tmdb_api_results_2018.json',
 'MovieData\\tmdb_api_results_2019.json',
 'MovieData\\tmdb_api_results_[2001].json',
 'MovieData\\tmdb_api_results_[2002].json']

In [12]:
tmdb_2009 = pd.read_json('MovieData/tmdb_api_results_2009.json')

In [13]:
tmdb_2010 = pd.read_json('MovieData/tmdb_api_results_2010.json')

In [14]:
tmdb_2011 = pd.read_json('MovieData/tmdb_api_results_2011.json')

In [15]:
tmdb_2012 = pd.read_json('MovieData/tmdb_api_results_2012.json')

In [16]:
tmdb_2013 = pd.read_json('MovieData/tmdb_api_results_2013.json')

In [17]:
tmdb_2014 = pd.read_json('MovieData/tmdb_api_results_2014.json')

In [18]:
tmdb_2015 = pd.read_json('MovieData/tmdb_api_results_2015.json')

In [19]:
tmdb_2016 = pd.read_json('MovieData/tmdb_api_results_2016.json')

In [20]:
tmdb_2017 = pd.read_json('MovieData/tmdb_api_results_2017.json')

In [21]:
tmdb_2018 = pd.read_json('MovieData/tmdb_api_results_2018.json')

In [22]:
tmdb_2019 = pd.read_json('MovieData/tmdb_api_results_2019.json')

In [23]:
tmdb_years = [tmdb_2009,tmdb_2010,tmdb_2011,tmdb_2012,
              tmdb_2013,tmdb_2014,tmdb_2015,tmdb_2016,
              tmdb_2017,tmdb_2018,tmdb_2019]

In [24]:
all_years = pd.concat(tmdb_years)

In [25]:
all_years

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0116991,0.0,None,None,0.0,"[{'id': 18, 'name': 'Drama'}]",,492619.0,en,Mariette in Ecstasy,...,0.0,86.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,,Mariette in Ecstasy,0.0,0.000,0.0,PG-13
2,tt0143558,0.0,/mUdwA3Szik9bkIMWEeux49I4EgL.jpg,None,0.0,"[{'id': 18, 'name': 'Drama'}]",,410363.0,hu,Apaföld,...,0.0,80.0,"[{'english_name': 'Hungarian', 'iso_639_1': 'h...",Released,,Father's Acre,0.0,6.800,5.0,NaN
3,tt0205380,0.0,/dcF1eyBqF2Cb9rGpmsduLjZTNKr.jpg,None,0.0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",,435199.0,hi,Sanam Teri Kasam,...,0.0,170.0,"[{'english_name': 'Hindi', 'iso_639_1': 'hi', ...",Released,,Sanam Teri Kasam,0.0,7.000,2.0,NaN
4,tt0304876,0.0,/kqvRaWpJbyNsNBEwni6IuJo8XqK.jpg,None,0.0,"[{'id': 35, 'name': 'Comedy'}]",,231540.0,de,Unter Strom,...,0.0,81.0,"[{'english_name': 'German', 'iso_639_1': 'de',...",Released,,Live Wire,0.0,6.000,1.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4908,tt9906644,0.0,/htoReVItKtolso5VJqFqJDBaOwm.jpg,None,0.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",,635903.0,ml,മനോഹരം,...,0.0,122.0,"[{'english_name': 'Malayalam', 'iso_639_1': 'm...",Released,,Manoharam,0.0,6.042,12.0,NaN
4909,tt9913660,0.0,/z6YpkQiWLnRKl5yQD9dSiPDFWN.jpg,None,0.0,"[{'id': 18, 'name': 'Drama'}]",,711261.0,en,No Apology,...,0.0,102.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,,No Apology,0.0,8.000,1.0,NaN
4910,tt9913872,0.0,/a0kySBmMZ77AqmNA3pDu45GsbCp.jpg,None,0.0,"[{'id': 27, 'name': 'Horror'}]",,800030.0,es,De la piel del Diablo,...,0.0,0.0,[],Released,,De la piel del Diablo,0.0,8.200,3.0,NaN
4911,tt9914942,0.0,/tjHUeULyw2vtS1DXFp0OHfhUzRX.jpg,None,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",,598553.0,ca,La vida sense la Sara Amat,...,0.0,71.0,"[{'english_name': 'Catalan', 'iso_639_1': 'ca'...",Released,,Life without Sara Amat,0.0,7.700,8.0,NaN
4912,tt9915872,0.0,None,None,0.0,[],,897433.0,en,The Last White Witch,...,0.0,97.0,[],Released,,The Last White Witch,0.0,0.000,0.0,NaN

In [26]:
all_years = all_years.drop(columns=['adult', 'backdrop_path', 'belongs_to_collection', 'genres',
                                    'homepage', 'id', 'original_language', 'original_title', 'runtime',
                                    'spoken_languages', 'status', 'tagline', 'title', 'video', 'vote_average',
                                    'vote_count','overview', 'popularity', 'poster_path', 'production_companies',
                                    'production_countries', 'release_date'])

In [27]:
all_years.head()

     imdb_id  budget  revenue certification
0          0     NaN      NaN           NaN
1  tt0116991     0.0      0.0         PG-13
2  tt0143558     0.0      0.0           NaN
3  tt0205380     0.0      0.0           NaN
4  tt0304876     0.0      0.0           NaN

In [28]:
all_years['certification'].isna().sum()

17705

In [29]:
all_years = all_years.dropna(subset=['certification'])

In [30]:
all_years.to_sql('tmdb_data',conn,if_exists='replace',index=False)

23366